spring:
  profiles.active: dev
  data.rest.base-path: /api/
jwt:
  header: Authorization
  secret: mySecret
  expiration: 604800
  route:
    authentication:
      path: api/login
      refresh: refresh
---
spring:
  profiles: dev
spring.jpa.hibernate:
  #ddl-auto: create
  ddl-auto: validate
spring.datasource:
  driverClassName: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost:3306/db_example
  username: root
  password: Welcome@1
app-config:
  imageUploadConfigPath: file:/home/amitbhagra/uploads/images/
  virtualImageConfigPath: /media/images/**
  imageUploadPathPrefix: /home/amitbhagra/uploads/images/
  virtualImageURLPrefix: http://localhost:8080/media/images/
  
---
spring:
  profiles: production
spring.jpa.hibernate:
  ddl-auto: validate
spring.datasource:
  driverClassName: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost:3306/db_example
  username: root
  password: Welcome@1
app-config:
  imageUploadConfigPath: file:D:\\home\\site\\uploads\\images\\
  virtualImageConfigPath: /media/images/**
  imageUploadPathPrefix: D:\\home\\site\\uploads\\images\\
  virtualImageURLPrefix: http://test-gad.azurewebsites.net/media/images/
  